<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.management.mapper.ContractMapper">
    <select id="getSelectContract" resultType="com.lwx.management.entity.Contract">
        SELECT 	       c.`id`                   AS   id,
                         c.`name`                 AS   NAME,
                         c.`employee_id`          AS   employee_id,
                         d.`dname`                AS   staffdept,
                         p.`dname`                AS   staffpost,
                         c.`contid`               AS   contid ,
                         c.`conttype`             AS   conttype,
                         c.`constate`             AS   constate,
                         c.`conttimelimit`        AS   conttimelimit,
                         c.`contstart`            AS   contstart,
                         c.`contend`              AS   contend,
                         c.`contnum`              AS   contnum

        FROM   `contract` c       LEFT JOIN `dept` d     ON c.`staffdept` = d.`id`
                                  LEFT JOIN `post` p     ON c.`staffpost` = p.`id`
        ${ew.customSqlSegment}
        LIMIT #{current},#{limit}
    </select>

</mapper>
